name: "temp_test"
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron:  '*/2 * * * *'

jobs:
  call-dev-workflow:
    uses: ./.github/workflows/dev.yml
    secrets: inherit
    permissions:
      contents: read
      packages: write
